.main-title {
  font-size: 15vw;
  font-weight: 700;
  line-height: 0.8;
}

@include media-breakpoint-up(sm) {
  .main-title {
    font-size: 10vw;
  }
}

.subtitle {
  font-size: 1.2rem;
  line-height: 0.8;
}

.section-title {
  font-size: 64px;
  font-weight: 200;
}

.description {
}

.square-project-img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.social-icon {
  color: green;
}
